.jumbrotron {
  background-image: url(https://digitalasset.intuit.com/IMAGE/A15KwZ97G/erica-ipad-free-ttl-xl.jpg);
}

.efile-now-top {
  text-align: center;
  background-color: grey;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
