<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Turbo Clone</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>


<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img id="google-icon" src="">
    </a>

    <button class="navbar-toggler" type="button"
      (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="user-buttons">
      <button type="button" name="sign-in" class="btn btn-outline-primary" id="sign-in">Sign in</button>
    </div>
  </nav>
</div>

<div class="jumbotron">
  its working. (app.html)
</div>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
