<!-- <div class="efile-now-top">
  <p><strong>E-file now!</strong> and find out what government subsidies you qualiy for!</p>
</div> -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">The Spoiled Cat</a>
      <a routerLink="about">About</a>
      <a routerLink="shop">Shop</a>
      <a routerLink="contact">contact</a>
    </div>
    <ul class="nav navbar-nav justify-content-end navbar-right">
      <li><button type="button" name="sign-in" class="btn btn-outline-primary" id="sign-in">Sign in</button></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
