<!-- <div class="efile-now-top">
  <p><strong>E-file now!</strong> and find out what government subsidies you qualiy for!</p>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul>
        <li><a class="navbar-brand" routerLink="">The Spoiled Cat</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="shop">Shop</a></li>
        <li><a routerLink="contact">Contact</a></li>
    </ul>
    </div>
    <ul class="nav navbar-nav justify-content-end navbar-right">
      <li><button type="button" name="sign-in" class="btn btn-outline-primary" id="sign-in">Sign in</button></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="container">
    <button class="btn btn-warning"><a class="text-muted" routerLink="admin">Admin</a></button>
  </div>
</footer>
