<div class="jumbotron header-image">
  <h1 class="welcome-text">Welcome to Spoiled Cat!</h1>
   <p class="lead">The one stop shop for gourmet catnip products!</p>
   <p>View our catalog</p>
   <p class="lead">
     <button type="button" name="shop" class="btn btn-primary" id="shop">Shop</button>
</div>

<div class="container">
  <p>We hope you can find everything you need. The Spoiled Cat is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations.

With a variety of offerings to choose from, we're sure you'll be happy working with us. Look around our website and if you have any comments or questions, please feel free to contact us.</p>
</div>
<!-- <h1>In production</h1> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-5 options-centered">
      <p>Free</p>
      <p>sample text</p>
    </div>
    <div class="col-md-5 options-centered">
      <h2>Welcome to Spoiled Cat! (welcome.html)</h2>
    </div>
  </div> -->



  <!-- <div class="row">
    <div class="col-md-4 testimonials">
      <p>Free</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
    <div class="col-md-4 testimonials">
      <p>Free</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
    <div class="col-md-4 testimonials">
      <p>Free</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>
  </div>
</div> -->



  <footer>
    <div class="jumbotron footer-jumbo">
      <p>footer info goes here</p>
    </div>
  </footer>
