<div class="jumbotron">
  <h1 class="display-4">Welcome to Turboclone!</h1>
   <p class="lead">This is a website that lets the average person know isntantly if the qualify for govenrment subsidies!</p>
   <p>To start, sign up!</p>
   <p class="lead">
     <button type="button" name="sign-in" class="btn btn-outline-primary" id="sign-in">Sign up!</button>
  <div class="jumbo-image">
    <!-- <img src="assets/images/erica-ipad.jpg"/> -->
  </div>
</div>

<h2>Welcome to our store! (welcome.html)</h2>
