<div class="jumbotron header-image">
  <h1 class="welcome-text">Welcome to Spoiled Cat!</h1>
   <p class="lead">The one stop shop for gourmet catnip products!</p>
   <p>Subscribe to our latest news!</p>
   <form class="form-inline">
     <div class="input-group">
       <input type="email" class="form-control" size="50" placeholder="Email Address" required>
       <div class="input-group-btn">
         <button type="button" class="btn btn-danger">Subscribe</button>
       </div>
     </div>
   </form>
</div>

<div class="container">
  <div class="card intro">
    <p class="intro-statement">We hope you can find everything you need. The Spoiled Cat is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations.</p>

    <p class="intro-statement">With a variety of offerings to choose from, we're sure you'll be happy working with us. Look around our website and if you have any comments or questions, please feel free to contact us.</p>

  </div>



  <div class="row justify-content-md-center">
    <div class="card col-md-3 testimonials">
      <blockquote class="blockquote mb-0">
        <p>"Bought one fuzzy pickle at the Saturday market because only 1 of our 3 cats plays with toys. Apparently they all want it so just ordered 3 more carrots."</p>
        <footer class="blockquote-footer">Satisfied Customer</footer>
      </blockquote>
    </div>
    <div class="card col-md-3 testimonials">
      <blockquote class="blockquote mb-0">
        <p>"I have been buying these products for the last 4yrs for my house full of kitties and they go bonkers for this catnip like no others. Go to Saturday Market or order online for your fur babies, they will thank you."</p>
        <footer class="blockquote-footer">Satisfied Customer</footer>
      </blockquote>
    </div>
    <div class="card col-md-3 testimonials">
      <blockquote class="blockquote mb-0">
        <p>"I found them at a greens show and bought a Christmas toy for my boys. It is really well made and quickly became a favorite. Even a year later, they are in love with their toy, possibly sentimental memories of when it smelled so good.
        Very helpful people and friendly. Highly recommended."</p>
        <footer class="blockquote-footer">Satisfied Customer</footer>
      </blockquote>
    </div>
  </div>
</div>









<!-- <h1>In production</h1> -->

<!-- <div class="container">
<div class="row">
<div class="col-md-5 options-centered">
<p>Free</p>
<p>sample text</p>
</div>
<div class="col-md-5 options-centered">
<h2>Welcome to Spoiled Cat! (welcome.html)</h2>
</div>
</div> -->
