
<div class="container">

<h2 class="catbox-title">The Cat Box</h2>

<div class="list-group product-list" *ngFor="let product of products | async">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{product.title}}</h5>
      <small>${{product.price}}.00</small>
      <button (click)="goToDetailPage(product)" class="btn btn-light"><small class="product-stock">Product in stock</small></button>
    </div>
    <div *ngIf="currentRoute === '/admin'">
      <p class="mb-1">{{product.description}}</p>
      <p class="mb-1">{{product.$key}}</p>
      <hr>
      <app-edit-product [selectedProduct]="product"></app-edit-product>
    </div>
  </a>
</div>

<input [matDatepicker]="myDatepicker">
