.catbox-title {
  margin-top: 25px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Bondi;
}

.product-list {
  margin-bottom: 20px;
}

.product-stock {
  color: #18bc3c;
}

.purchase-button {
  width: 20px;
}
/* .product-list :hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
} */
