/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fcfcfc;
}

@font-face {
    font-family: Bondi;
    src: url("/assets/font/Bondi.ttf") format("truetype");
}
